csv2json/src/main/mule/csv2json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" 	xmlns:file="http://www.mulesoft.org/schema/mule/file" 	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">

	<file:config name="File_Config" doc:name="File Config" doc:id="7cbfccfc-4187-488c-b33f-7cf94dae3f4d" >
		<file:connection workingDir="C:\00\file\input" />
	</file:config>

	<file:config name="File_Config1" doc:name="File Config" doc:id="0d8d7c1a-b153-4f00-8e95-eeee90ff91c7" >
		<file:connection workingDir="C:\00\html\file" />
	</file:config>
	
	<file:config name="File_Config2" doc:name="File Config" doc:id="81176b37-b183-48c7-b243-fe1d66f45d10" >
		<file:connection workingDir="C:\00\code\file" />
	</file:config>
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="f453910e-6fc4-441a-8f90-ad256323d8d6" >
		<mongo:connection database="mule" >
			<mongo:server-addresses >
				<mongo:server-address host="127.0.0.1" />
			</mongo:server-addresses>
		</mongo:connection>
	</mongo:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9d17fb97-24eb-4c6c-ab2f-0331d5e447bb" >
		<salesforce:basic-connection username="mario.bacellar@macro.com.br" password="Mcb@2020" securityToken="N7omGWTR0VAZg4JWzPOVRfl4" />
	</salesforce:sfdc-config>
	<flow name="str2jsonFlow" doc:id="170ececb-f23a-4857-8a88-1b9b2f7d7e03" >
		<file:listener doc:name="On New or Updated File" doc:id="0316139b-afa4-4a36-aa03-2c65e470dc35" config-ref="File_Config2" directory="C:\00\code\file\input" moveToDirectory="C:\00\code\file\output" renameTo='#["done_" ++ now() as String {format: "y-MM-dd"} ++ "_"++ now() as String {format: "hhms"} ++ ".csv"]'>
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="d2e739ec-abec-453b-b996-a08fdf38904d" variableName="xcontent"/>
		<logger level="INFO" doc:name="Logger Content" doc:id="fb155dd3-5f91-4c57-9659-e3d42ce90762" message='#[vars.xcontent]'/>
		<ee:transform doc:name="Transform Message" doc:id="34057b96-64bd-4b21-97db-36a03aa59ba4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger Payload" doc:id="36061c23-0962-49d8-896a-7cfac41df417" message='#[payload]' />
		<foreach doc:name="For Each" doc:id="b6c3f4cb-4334-45ed-9393-906497844f5b" collection="payload">
			<logger level="INFO" doc:name="Logger Payload into Foreach" doc:id="8e0b5feb-d128-4509-befa-48a227f3223f" message="#[payload]" />
			<scatter-gather doc:name="Scatter-Gather" doc:id="12569fcd-b7e6-4242-87b7-685ac451c0a8" >
				<route >
					<ee:transform doc:name="Transform Message" doc:id="d60e3bb6-da90-4b4a-91cb-61315f765ea8">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<mongo:insert-document collectionName="oportunidades" doc:name="Insert document" doc:id="a6cd3733-a2de-4125-839a-d845e1b4ff39" config-ref="MongoDB_Config" />
				</route>
				<route >
					<ee:transform doc:name="Transform Message" doc:id="e7226808-6874-47a2-a7a0-de4d125d917b" >
						<ee:message >
							<ee:set-payload ><![CDATA[ %dw 2.0
output application/json
---
{
	"Name": "Acme - 70 Widgets (Sample)",
	"AccountId": "Acme (Sample)",
	"Amount": "119,99",
	"CloseDate": "10/11/2020",
	"StageName": "Proposal",
	"Probability": "0",
	"Type": "New Business",
	"LeadSource": "Partner",
	"OwnerId": "São Thiago, Pablo"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="235f464b-87ef-4791-ba14-ad2d37d05c12" message="#[payload]"/>
					<salesforce:upsert doc:name="Upsert Oportunidade" doc:id="ba3308b2-6a97-49bd-8c89-09704fcee7b2" config-ref="Salesforce_Config" objectType="opportunity" externalIdFieldName="id"/>
					<logger level="INFO" doc:name="Copy_of_Logger" doc:id="95c73b2f-9350-45dc-b166-5afa98c1694d" message="### Oportunidade enviada ###" />
				</route>
			</scatter-gather>
		</foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4a79ab3b-46a4-495c-9010-7dbd73768f5a" >
				<logger level="INFO" doc:name="Logger" doc:id="23dfd1f0-ef93-4bcf-b707-6ab20aad1f9f" message="payload"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
