mongo-insert/src/main/mule/mongo-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="0ab9aad9-8d8e-47e7-865b-c790a6f6b016" >
		<mongo:connection-string-connection connectionString="mongodb+srv://admin:admin@cluster0.rv6nl.mongodb.net/mule?retryWrites=true&amp;w=majority" />
	</mongo:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a188c6f7-fcc3-4c5b-bc69-d25fc99f0b32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mongo-insertFlow" doc:id="c2f6f8a3-90b7-4916-ab11-94b88d5583c2" >
		<http:listener doc:name="Listener" doc:id="543dada0-fca5-4a80-8c43-8dd5ee017d5c" config-ref="HTTP_Listener_config" path="/insert" allowedMethods="POST">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="62d3824e-195c-4694-a539-81fecf39aa0c" message='#[payload]'/>
		<mongo:insert-document doc:name="Insert document" doc:id="566b9882-2c48-4f00-a969-6e929cb5b1eb" config-ref="MongoDB_Config" collectionName="plano"/>
		<logger level="INFO" doc:name="Logger" doc:id="268a825b-d790-406a-aec6-4b918fb03bae" message='#[payload]' />
	</flow>
</mule>
